/* General styles */
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e1e8ee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

.chat-container {
  width: 550px;
  height: 90vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.header {
  background-color: #3a3d5f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.main {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  background-color: #f6f6f8;
}

.chat-display {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #eeeeee;
  gap: 10px;
}

.chat-input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.chat-send {
  background-color: #3a3d5f;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.chat-send:hover {
  background-color: #5c5f84;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-message {
  align-self: flex-end;
  background-color: #c6daf9;
}

.bot-message {
  align-self: flex-start;
  background-color: #dedfe2;
}
